
<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#aggregate">Aggregate</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ge1">GE1</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ge2">GE2</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ge3">GE3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#ge4">GE4</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div id="aggregate" class="tab-pane fade in active">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12">
                <table class="_tb1" style="color:white">
                    <thead>
                        <tr>
                            <th>Mod</th>
                            <th>GE1</th>
                            <th>GE2</th>
                            <th>GE3</th>
                            <th>GE4</th>
                            <th>NET</th>
                            <th>%Pass</th>
                            <th>%F</th>
                            <th>Corrupted/lnprogress</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                        <tr>
                            <td>4</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>

                    </thead>
                </table>
                <br /><br />
                <div id="wrapper" style=" margin:0 auto;background-image: linear-gradient(to right, white,white); padding:0;  border-radius:20px;
}">
                    <canvas id="myChart"></canvas>
                </div>
                <br/>
            </div>
            <div class=" dough-combo col-lg-3 col-sm-12 col-md-3">
                <div id="wrapper1"  >
                    <canvas id="_myChart"></canvas>
                </div>
                <div id="wrapper2"   >
                    <canvas id="myChart1"></canvas>
                </div>
                <div id="wrapper3"   >
                    <canvas id="myChart2"></canvas>
                </div>
            </div>
        </div>

    </div>
    <div id="ge1" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">

                <table class="_tb2" style="color:white;">
                    <thead>
                        <tr>
                            <th>Mod</th>
                            <th>GE1</th>
                            <th>NET</th>
                            <th>%Pass</th>
                            <th>%F</th>
                            <th>Corrupted/lnprogress</th>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>


                        </tr>
                    </thead>

                </table>
                <br /><br />
                <div id="ge1_wrapper" style=" margin:0 auto;background-image: linear-gradient(to right,white,white); padding:0;  border-radius:20px;
}">
                    <canvas id="ge1_myChart"></canvas>
                </div>
                <br/>
            </div>
            <div class=" dough-combo col-lg-3 col-sm-3 col-md-3">
                <div id="ge1_wrapper1"  >
                    <canvas id="ge1_myChart1"></canvas>
                </div>
                <div id="ge1_wrapper2"  >
                    <canvas id="ge1_myChart2"></canvas>
                </div>
                <div id="ge1_wrapper3"  >
                    <canvas id="ge1_myChart3"></canvas>
                </div>
            </div>
        </div>

    </div>
    <div id="ge2" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">

                <table class="_tb2" style="color:white;">
                    <thead>
                        <tr>
                            <th>Mod</th>
                            <th>GE2</th>
                            <th>NET</th>
                            <th>%Pass</th>
                            <th>%F</th>
                            <th>Corrupted/lnprogress</th>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>


                        </tr>
                    </thead>

                </table>
                <br /><br />
                <div id="ge2_wrapper" style=" margin:0 auto;background-image: linear-gradient(to right,white,white); padding:0;  border-radius:20px;
}">
                    <canvas id="ge2_myChart"></canvas>
                </div>
                <br/>
            </div>
            <div class="dough-combo col-lg-3 col-sm-3 col-md-3">
                <div id="ge2_wrapper1"  >
                    <canvas id="ge2_myChart1"></canvas>
                </div>
                <div id="ge2_wrapper2"  >
                    <canvas id="ge2_myChart2"></canvas>
                </div>
                <div id="ge2_wrapper3"   >
                    <canvas id="ge2_myChart3"></canvas>
                </div>
            </div>
        </div>

    </div>

    <div id="ge3" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">
                <table class="_tb2" style="color:white;">
                    <thead>
                        <tr>
                            <th>Mod</th>
                            <th>GE3</th>
                            <th>NET</th>
                            <th>%Pass</th>
                            <th>%F</th>
                            <th>Corrupted/lnprogress</th>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>


                        </tr>
                    </thead>

                </table>



                <br /><br />
                <div id="ge3_wrapper" style=" margin:0 auto;background-image: linear-gradient(to right,white,white); padding:0;  border-radius:20px;
}">
                    <canvas id="ge3_myChart"></canvas>
                </div>
                <br/>
            </div>
            <div class=" dough-combo col-lg-3 col-sm-3 col-md-3">
                <div id="ge3_wrapper1"  >
                    <canvas id="ge3_myChart1" ></canvas>
                </div>
                <div id="ge3_wrapper2"  >
                    <canvas id="ge3_myChart2"></canvas>
                </div>
                <div id="ge3_wrapper3"  >
                    <canvas id="ge3_myChart3"></canvas>
                </div>
            </div>
        </div>

    </div>

    <div id="ge4" class="tab-pane fade">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-9">

                <table class=" _tb2" style="color:white;">
                    <thead>
                        <tr>
                            <th>Mod</th>
                            <th>GE4</th>
                            <th>NET</th>
                            <th>%Pass</th>
                            <th>%F</th>
                            <th>Corrupted/lnprogress</th>

                        </tr>
                        <tr>
                            <td>1</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>2</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>3</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>


                        </tr>
                    </thead>

                </table>


                <br /><br />
                <div id="ge4_wrapper" style=" margin:0 auto;background-image: linear-gradient(to right,white,white); padding:0;  border-radius:20px;
}">
                    <canvas id="ge4_myChart"></canvas>
                </div>
            </div>
            <div class=" dough-combo col-lg-3 col-sm-3 col-md-3">
                <div id="ge4_wrapper1"  >
                    <canvas id="ge4_myChart1" ></canvas>
                </div>
                <div id="ge4_wrapper2"  >
                    <canvas id="ge4_myChart2"></canvas>
                </div>
                <div id="ge4_wrapper3"  >
                    <canvas id="ge4_myChart3"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>


<script>



    let myChart = document.getElementById('myChart').getContext('2d');

    // Global Options
    ////Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 15;
    Chart.defaults.global.defaultFontColor = '#000';


    let massPopChart = new Chart(myChart, {
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [
                {
                    label: 'Pass',
                    data: [1, 2, 3, 4],
                    backgroundColor: '#6AB187',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'Fail',
                    data: [1, 3, 5, 4],
                    backgroundColor: '#D32D41',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'InProgress',
                    data: [1, 3, 6, 3],
                    backgroundColor: '#1C4E80',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }

            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,

            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 5
                    },
                    gridLines: {
                        color: 'rgba(171,171,171,1)',
                        lineWidth: 0.5

                    }



                }],
                xAxes: [{
                    gridLines: {
                        display: false,

                    }
                }]
            },

            title: {
                display: true,
                text: 'Pass/Fail/Corrupted',
                fontSize: 25,
                fontColor: '#000'
            },
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0

                }
               


            },
            tooltips: {

                mode: 'index'
            }
        }
    });

    document.getElementById("wrapper").style.height = '25em';
    document.getElementById("wrapper").style.width = '100%';
</script>


<script>
    let _myChart = document.getElementById('_myChart').getContext('2d');
    let myChart1 = document.getElementById('myChart1').getContext('2d');
    let myChart2 = document.getElementById('myChart2').getContext('2d');

    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#000';

    let _massPopChart = new Chart(_myChart, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Pass',
                data: [
                    1,
                    3,
                    4,
                    2
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#6AB187',
                    '#6AB187',
                    '#6AB187',
                    '#6AB187'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'Pass',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let massPopChart1 = new Chart(myChart1, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Fail',
                data: [
                    1,
                    3,
                    5,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#D32D41',
                    '#D32D41',
                    '#D32D41',
                    '#D32D41'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'Fail',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let massPopChart2 = new Chart(myChart2, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'InProgress',
                data: [
                    1,
                    3,
                    4,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {

            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                position:'bottom',
                text: 'InProgress',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    document.getElementById("wrapper1").style.height = '18rem';
    document.getElementById("wrapper1").style.width = '18rem';
    document.getElementById("wrapper2").style.height = '18rem';
    document.getElementById("wrapper2").style.width = '18rem';
    document.getElementById("wrapper3").style.height = '18rem'
    document.getElementById("wrapper3").style.width = '18rem';

</script>


<!--GE1-->




<script>

    let ge1_myChart = document.getElementById('ge1_myChart').getContext('2d');

    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 15;
    Chart.defaults.global.defaultFontColor = '#000';


    let ge1_massPopChart = new Chart(ge1_myChart, {
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [
                {
                    label: 'Pass',
                    data: [1, 2, 3, 4],
                    backgroundColor: '#6AB187',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'Fail',
                    data: [1, 3, 5, 4],
                    backgroundColor: '#D32D41',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'InProgress',
                    data: [1, 3, 6, 3],
                    backgroundColor: '#1C4E80',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }

            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,

            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 5
                    },
                    gridLines: {
                        color: 'rgba(171,171,171,1)',
                        lineWidth: 0.5

                    }



                }],
                xAxes: [{
                    gridLines: {
                        display: false,

                    }
                }]
            },

            title: {
                display: true,
                text: 'Pass/Fail/Corrupted',
                fontSize: 25,
                fontColor: '#000'
            },
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0

                }

            },
            tooltips: {

                mode: 'index'
            }
        }
    });

    document.getElementById("ge1_wrapper").style.height = '25em';
    document.getElementById("ge1_wrapper").style.width = '100%';




    let ge1_myChart1 = document.getElementById('ge1_myChart1').getContext('2d');
    let ge1_myChart2 = document.getElementById('ge1_myChart2').getContext('2d');
    let ge1_myChart3 = document.getElementById('ge1_myChart3').getContext('2d');

    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#000';

    let ge1_massPopChart1 = new Chart(ge1_myChart1, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Pass',
                data: [
                    1,
                    3,
                    4,
                    2
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#6AB187',
                    '#6AB187',
                    '#6AB187',
                    '#6AB187'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'Pass',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let ge1_massPopChart2 = new Chart(ge1_myChart2, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Fail',
                data: [
                    1,
                    3,
                    5,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#D32D41',
                    '#D32D41',
                    '#D32D41',
                    '#D32D41'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'Fail',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let ge1_massPopChart3 = new Chart(ge1_myChart3, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'InProgress',
                data: [
                    1,
                    3,
                    4,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {

            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                position:'bottom',
                text: 'InProgress',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    document.getElementById("ge1_wrapper1").style.height = '18rem';
    document.getElementById("ge1_wrapper1").style.width = '18rem';
    document.getElementById("ge1_wrapper2").style.height = '18rem';
    document.getElementById("ge1_wrapper2").style.width = '18rem';
    document.getElementById("ge1_wrapper3").style.height = '18rem'
    document.getElementById("ge1_wrapper3").style.width = '18rem';

</script>




<!--GE2-->
<script>



    let ge2_myChart = document.getElementById('ge2_myChart').getContext('2d');

    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 15;
    Chart.defaults.global.defaultFontColor = '#000';


    let ge2_massPopChart = new Chart(ge2_myChart, {
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [
                {
                    label: 'Pass',
                    data: [1, 2, 3, 4],
                    backgroundColor: '#6AB187',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'Fail',
                    data: [1, 3, 5, 4],
                    backgroundColor: '#D32D41',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'InProgress',
                    data: [1, 3, 6, 3],
                    backgroundColor: '#1C4E80',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }

            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,

            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 5
                    },
                    gridLines: {
                        color: 'rgba',
                        lineWidth: 0.5

                    }



                }],
                xAxes: [{
                    gridLines: {
                        display: false,

                    }
                }]
            },

            title: {
                display: true,
                text: 'Pass/Fail/Corrupted',
                fontSize: 25,
                fontColor: '#000'
            },
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0

                }

            },
            tooltips: {

                mode: 'index'
            }
        }
    });

    document.getElementById("ge2_wrapper").style.height = '25em';
    document.getElementById("ge2_wrapper").style.width = '100%';
</script>


<script>
    let ge2_myChart1 = document.getElementById('ge2_myChart1').getContext('2d');
    let ge2_myChart2 = document.getElementById('ge2_myChart2').getContext('2d');
    let ge2_myChart3 = document.getElementById('ge2_myChart3').getContext('2d');

    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#000';

    let ge2_massPopChart1 = new Chart(ge2_myChart1, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Pass',
                data: [
                    1,
                    3,
                    4,
                    2
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#6AB187',
                    '#6AB187',
                    '#6AB187',
                    '#6AB187'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'Pass',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let ge2_massPopChart2 = new Chart(ge2_myChart2, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Fail',
                data: [
                    1,
                    3,
                    5,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#D32D41',
                    '#D32D41',
                    '#D32D41',
                    '#D32D41'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'Fail',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let ge2_massPopChart3 = new Chart(ge2_myChart3, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'InProgress',
                data: [
                    1,
                    3,
                    4,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {

            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                position:'bottom',
                text: 'InProgress',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    document.getElementById("ge2_wrapper1").style.height = '18rem';
    document.getElementById("ge2_wrapper1").style.width = '18rem';
    document.getElementById("ge2_wrapper2").style.height = '18rem';
    document.getElementById("ge2_wrapper2").style.width = '18rem';
    document.getElementById("ge2_wrapper3").style.height = '18rem'
    document.getElementById("ge2_wrapper3").style.width = '18rem';

</script>


<!--GE3-->
<script>



    let ge3_myChart = document.getElementById('ge3_myChart').getContext('2d');

    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 15;
    Chart.defaults.global.defaultFontColor = '#000';


    let ge3_massPopChart = new Chart(ge3_myChart, {
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [
                {
                    label: 'Pass',
                    data: [1, 2, 3, 4],
                    backgroundColor: '#6AB187',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'Fail',
                    data: [1, 3, 5, 4],
                    backgroundColor: '#D32D41',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'InProgress',
                    data: [1, 3, 6, 3],
                    backgroundColor: '#1C4E80',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }

            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,

            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 5
                    },
                    gridLines: {
                        color: 'rgba(171,171,171,1)',
                        lineWidth: 0.5

                    }



                }],
                xAxes: [{
                    gridLines: {
                        display: false,

                    }
                }]
            },

            title: {
                display: true,
                text: 'Pass/Fail/Corrupted',
                fontSize: 25,
                fontColor: '#000'
            },
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0

                }

            },
            tooltips: {

                mode: 'index'
            }
        }
    });

    document.getElementById("ge3_wrapper").style.height = '25em';
    document.getElementById("ge3_wrapper").style.width = '100%';
</script>


<script>
    let ge3_myChart1 = document.getElementById('ge3_myChart1').getContext('2d');
    let ge3_myChart2 = document.getElementById('ge3_myChart2').getContext('2d');
    let ge3_myChart3 = document.getElementById('ge3_myChart3').getContext('2d');

    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#000';

    let ge3_massPopChart1 = new Chart(ge3_myChart1, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Pass',
                data: [
                    1,
                    3,
                    4,
                    2
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#6AB187',
                    '#6AB187',
                    '#6AB187',
                    '#6AB187'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'Pass',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let ge3_massPopChart2 = new Chart(ge3_myChart2, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Fail',
                data: [
                    1,
                    3,
                    5,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#D32D41',
                    '#D32D41',
                    '#D32D41',
                    '#D32D41'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'Fail',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let ge3_massPopChart3 = new Chart(ge3_myChart3, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'InProgress',
                data: [
                    1,
                    3,
                    4,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {

            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                position:'bottom',
                text: 'InProgress',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    document.getElementById("ge3_wrapper1").style.height = '18rem';
    document.getElementById("ge3_wrapper1").style.width = '18rem';
    document.getElementById("ge3_wrapper2").style.height = '18rem';
    document.getElementById("ge3_wrapper2").style.width = '18rem';
    document.getElementById("ge3_wrapper3").style.height = '18rem'
    document.getElementById("ge3_wrapper3").style.width = '18rem';

</script>


<!--GE4-->
<script>



    let ge4_myChart = document.getElementById('ge4_myChart').getContext('2d');

    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 15;
    Chart.defaults.global.defaultFontColor = '#000';


    let ge4_massPopChart = new Chart(ge4_myChart, {
        type: 'bar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [
                {
                    label: 'Pass',
                    data: [1, 2, 3, 4],
                    backgroundColor: '#6AB187',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'Fail',
                    data: [1, 3, 5, 4],
                    backgroundColor: '#D32D41',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                },

                {
                    label: 'InProgress',
                    data: [1, 3, 6, 3],
                    backgroundColor: '#1C4E80',

                    borderWidth: 1,
                    borderColor: '#FFF',
                    hoverBorderWidth: 3,
                    hoverBorderColor: '#000'
                }

            ]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,

            scales: {
                yAxes: [{
                    ticks: {
                        max: 10,
                        min: 0,
                        stepSize: 5
                    },
                    gridLines: {
                        color: 'rgba(171,171,171,1)',
                        lineWidth: 0.5

                    }



                }],
                xAxes: [{
                    gridLines: {
                        display: false,

                    }
                }]
            },

            title: {
                display: true,
                text: 'Pass/Fail/Corrupted',
                fontSize: 25,
                fontColor: '#000'
            },
            legend: {
                display: true,
                position: 'bottom',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0

                }

            },
            tooltips: {

                mode: 'index'
            }
        }
    });

    document.getElementById("ge4_wrapper").style.height = '25em';
    document.getElementById("ge4_wrapper").style.width = '100%';
</script>


<script>
    let ge4_myChart1 = document.getElementById('ge4_myChart1').getContext('2d');
    let ge4_myChart2 = document.getElementById('ge4_myChart2').getContext('2d');
    let ge4_myChart3 = document.getElementById('ge4_myChart3').getContext('2d');

    // Global Options
    //Chart.defaults.global.defaultFontFamily = 'Lato';
    Chart.defaults.global.defaultFontSize = 18;
    Chart.defaults.global.defaultFontColor = '#000';

    let ge4_massPopChart1 = new Chart(ge4_myChart1, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Pass',
                data: [
                    1,
                    3,
                    4,
                    2
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#6AB187',
                    '#6AB187',
                    '#6AB187',
                    '#6AB187'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'pass',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let ge4_massPopChart2 = new Chart(ge4_myChart2, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'Fail',
                data: [
                    1,
                    3,
                    5,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#D32D41',
                    '#D32D41',
                    '#D32D41',
                    '#D32D41'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {
            title: {
                display: true,
                position:'bottom',
                text: 'Fail',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    let ge4_massPopChart3 = new Chart(ge4_myChart3, {
        type: 'doughnut', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
        data: {
            labels: ['Invoicing', 'OM', 'BRM', 'GAFT'],
            datasets: [{
                label: 'InProgress',
                data: [
                    1,
                    3,
                    4,
                    3
                ],
                //backgroundColor:'#6AB187',
                backgroundColor: [
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80',
                    '#1C4E80'

                ],
                borderWidth: 1,
                borderColor: '#FFF',
                hoverBorderWidth: 3,
                hoverBorderColor: '#000'
            }]
        },
        options: {

            responsive: true,
            maintainAspectRatio: false,
            title: {
                display: true,
                position:'bottom',
                text: 'InProgress',
                fontSize: 25,
                fontColor:'#000'
            },
            legend: {
                display: false,
                position: 'right',
                labels: {
                    fontColor: '#000'
                }
            },
            layout: {
                padding: {
                    left: 50,
                    right: 0,
                    bottom: 0,
                    top: 0
                }
            },
            tooltips: {
                mode: 'index'
            }
        }
    });

    document.getElementById("ge4_wrapper1").style.height = '18rem';
    document.getElementById("ge4_wrapper1").style.width = '18rem';
    document.getElementById("ge4_wrapper2").style.height = '18rem';
    document.getElementById("ge4_wrapper2").style.width = '18rem';
    document.getElementById("ge4_wrapper3").style.height = '18rem'
    document.getElementById("ge4_wrapper3").style.width = '18rem';

</script>